.text-darkblue{
    color: rgb(4, 28, 148);
}

.form-border{
    border: 3px solid black;
    border-radius: 5px;
}

.bg-darkblue{
    background-color: rgb(37, 52, 100);
}

.text-light-white{
    color: rgb(169, 165, 161);
}

.text-gray{
    color: gray;
}
